In [29]:
#1. Given below are a list of positive and negative words. Also a list of comments is provided. Segregate the comments based on positive and negative sentiments.
#positive = ['good','awesome', 'best', 'nice'] negative = ['worst','awful']
#comments = ['He is a good boy', 'Food is the worst here', 'He is an awesome player', 'She is the best',
#'This pizza tastes awful', 'These burger are really nice']

positive = ['good','awesome', 'best', 'nice']
negative = ['worst','awful']
comments = ['He is a good boy',
            'Food is the worst here',
            'He is an awesome player',
            'She is the best',
            'This pizza tastes awful',
            'These burger are really nice']
for i in comments: 
    l3 = i.split()
    for f in positive:
        if f in l3: 
            print("its a postive string",l3)
            break

    for h in negative:
        if h in l3:
            print(" its a negative string", l3)

its a postive string ['He', 'is', 'a', 'good', 'boy']
 its a negative string ['Food', 'is', 'the', 'worst', 'here']
its a postive string ['He', 'is', 'an', 'awesome', 'player']
its a postive string ['She', 'is', 'the', 'best']
 its a negative string ['This', 'pizza', 'tastes', 'awful']
its a postive string ['These', 'burger', 'are', 'really', 'nice']

In [34]:
#2. Create a dictionary containing three lambda functions square, cube and square root.
#E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for square root}
#ass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.
import numpy as np
import math
dict={'Square':lambda x: x * x,
      'Cube':lambda x: x * x * x,
      'Squareroot':lambda x:np.sqrt(x)}
num=int(input())
result=0
for fun in dict:
    result+=dict[fun](num)
print("sq",result)

25
sq 16255.0

In [19]:
#4. A list of words is given. Find the words from the list that have their second character in uppercase.
#ls = ['hello', 'Dear', 'hOw', 'ARe', 'You'] Output: ['hOw', 'ARe']

ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']  
for i in ls:
    Second_char = i[1]
    if Second_char.isupper():
        print('Uppercase words is :', i)

Uppercase words is : hOw
Uppercase words is : ARe

In [26]:
#6. Write a program to fetch the words from the given list which have their first character in uppercase.
#namesList = ['santa Maria', 'Hello World','Merry christmas', 'tHank You']
#Output: ['Maria', 'Hello', 'World', 'Merry', 'You']

namesList = ['santa' ,'Maria', 'Hello' ,'World','Merry', 'christmas', 'tHank You']
for i in namesList:
    First_char = i[0]
    if First_char.isupper():
        print(i)

Maria
Hello
World
Merry

In [16]:
# 7 A list containing multiple lists is given. Convert each inner list into sets and find the intersection of all the sets.
#Use reduce function.
#given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9,
#12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
#Output: {8, 3}

given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 
9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]] 
from functools import reduce
intersect = list(reduce(set.intersection, [set(x)for x in
given_sets ]))
print(intersect)

[8, 3]

In [6]:
# 8 Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function

In [8]:
from  itertools import accumulate
result=accumulate([9, 5, 7, 8, 5],lambda x,y:(x+y)/2)
for res in result :
    print(res)

9
7.0
7.0
7.5
6.25

In [1]:
# 9 A list of words is given. Convert the words into uppercase. Use lambda and map functions.
lsbool = ['True','FALse','tRUe','tRue','False','faLse']
#Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE']

In [2]:
list(map(lambda lsbool:lsbool.upper(), ['True','FALse','tRUe','tRue','False','faLse']))

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE']

In [23]:
#10. A list of dates (dd-mm-yyyy) in the form of string is given below. Create a new list that stores years i.e. the 'yyyy' part from the dates in the given list.
#datesList = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']
#Output: ['1997','2011','1993','2020']

datesList = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020'] 
year_list = []
for i in datesList:
    year_list.append(i.split("-")[2])
    
print(year_list)

['1997', '2011', '1993', '2020']